@import "./font.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    font-family: "estedad", sans-serif;
  }
}
/* ====================== custome styles ===================== */

.datePickerInput {
  width: 100%;
  border: 1px solid #cbcbcb;
  font-size: 14px;
  color: #353535;
  border-radius: 6px;
  outline: none;
  padding: 8px 12px;
  margin-bottom: 16px;
}
.datePickerInput::placeholder {
  color: #717171;
}
